/* BANNER */

#banner {
  background-color: var(--color-blue-light);
  align-items: center;
}

#banner .layout-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#banner img {
  width: 100%;
}

#banner h2 {
  text-align: left;
  margin-bottom: 0;
}

#banner .first-paragraph {
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  #banner {
    flex-direction: row;
  }
  #banner .layout-container {
    width: calc((var(--page-width) / 2) - 2.5rem);
  }
}
